/*header and mega menu css new design 01-04-2026*/

.tta-header-section{background: #000; padding-top: 50px; padding-bottom: 40px;}
body{padding-top: 150px;}
.tta-header-section nav{max-width: 1440px; margin: 0 auto;column-gap: 60px;}

.tta-header-section nav .tta-header-desktop-menu-box{width: 100%;}

.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu > ul{ gap:0px;   column-gap: 26px;}

.tta-header-menu{max-width: 450px;}
.tta-header-menu-lists{flex-wrap: wrap;}
.tta-header-section nav .tta-header-desktop-menu-box{justify-content: space-between;}
.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul > li > a{padding: 24px 0px !important; color: #fff !important;    font-weight: 400;}

.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul li.item-has-children > ul{max-width: 1345px; margin: 0 auto; background: #f2f8f7;border-radius: 17px; min-width:338px}

.account-btns .solid_link{background: #fff; color: #000;}
.account-btns .trans_link{color: rgba(62, 179, 227, 1);}
.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul li.item-has-children > ul{top: calc(100% + -38px);}
.tta-header-section .account-btns{justify-content: right;}
.tta-header-section .tta-search-btn{margin-top: 30px;}
.gradient-text {
   background: linear-gradient(90deg, #3EB3E3 0%, #3BE2A8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Megamenutitle h5,.smallmegamenu h5{font-size: 48px !important; font-weight: 900 !important; color: rgba(19, 33, 54, 1); margin-bottom: 15px !important;}
.smallmegamenu h5{margin-bottom: 40px !important;}
.tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .tta-header-megamenu-row:not(:first-child){padding-top: 10px;
    margin-top: 10px;border: none;}

	 .tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .tta-header-megamenu-content-head h5:after{display: none !important;}
	  .tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .tta-header-megamenu-content-head h5{margin: 10px 0px !important; padding: 0px !important;}

	  .tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .Megamenutitle .tta-header-megamenu-content-head h5{margin-bottom: 20px !important;}
	  .tta-header-section nav .tta-header-desktop-menu-box ul li ul .tta-header-megamenu-row li ul li a{color: rgba(19, 33, 54, 1) !important;}

	  .fourcolmenu .tta-header-megamenu-content > ul{column-count: 4;}
	  .textunderline a{text-decoration: underline !important;}

	  .smallmegamenu .tta-header-megamenu-list{width: fit-content !important;left: inherit !important;
    right: inherit !important; margin: 0px !important;}

	  .tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .tta-header-megamenu-column-head h5, .tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .tta-header-megamenu-content-head h5, .tta-header-section nav .tta-header-desktop-menu-box .tta-header-megamenu-list .tta-header-megamenu-content .tta-header-megamenu-desktop h5, .tta-header-section nav .tta-header-menu-mobile-col-item.tta-header-content-open-type-dropdown h5{font-family: "Halyard-Display"; font-size: 22px; font-weight: bold;}
.tta-header-megamenu-content ul li a,.tta-header-megamenu-content  p a{
	  font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 120%; color: rgba(19, 33, 54, 1);
letter-spacing: 0%;
}
	.tta-header-megamenu-content h6{font-family: "Halyard-Display"; font-size: 24px; text-underline-offset: 8px; /* controls gap */}
.tta-header-section nav .tta-header-megamenu-container{max-width: 1340px;}

.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu .toprow .tta-header-megamenu-list {
    top: calc(100% + -105px) !important;
}
.smallmegamenu .tta-header-megamenu-content-head {display: block; margin-bottom: 30px;}

.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu .smallmegamenu .tta-header-megamenu-list li p{width: fit-content;}

.tta-header-section nav .tta-header-desktop-menu-box ul li a:hover{    background: linear-gradient(90deg, #3EB3E3 0%, #3BE2A8 100%);background: linear-gradient(90deg, #3EB3E3 0%, #3BE2A8 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; text-decoration: underline;}

.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul li.item-has-children > ul{padding: 40px;}
.header_right{width: 245px;}
.tta-search-btn{text-align: right;}

.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul li> a:before{width: 0%; height:2px; position: absolute; bottom: 7px; left: 0px;transition:all 0.5s;content:" ";background: linear-gradient(90deg, #3EB3E3 0%, #3BE2A8 100%);

}
.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul li li a:before{display: none;}
.tta-header-section nav .tta-header-desktop-menu-box .tta-header-menu ul li > a:hover:before{width: 100%;}

.tta-header-section nav .hamburger .toggle-bar{background-color: #fff !important;}
.titlesub{font-family: 'Lato' !important;
    font-size: 24px !important;
    font-weight: 900 !important; text-underline-offset: 5px; /* controls gap */
}
/* Case studies page */

.page-id-32099  .industry-banner-section .container{max-width: 1440px;}
.page-id-32099  .industry-banner-section {
    position: relative;
    padding: 83px 0 70px;
}
.page-id-32099  .industry-banner-section .main-title h1 span{
font-weight: 800;
font-size: 94px;
line-height: 115.99999999999999%;
letter-spacing: 0%;
}
.industry-banner-section .sub-title h2{font-size: 48px;}



@media screen and (max-width:991px){
    .tta-header-section nav .tta-header-desktop-menu-box{justify-content: right;width: 190px;}
    .tta-header-section nav .tta-header-desktop-menu-box{}
    .tta-header-section nav .nav-menu{top: 80px;}
    .fourcolmenu .tta-header-megamenu-content > ul{column-count: 2;}
    .tta-header-section nav .tta-header-menu-mobile-col-item.tta-header-content-open-type-dropdown h5{font-size: 20px !important;}
    .tta-header-megamenu-content h6 {
    font-family: "Halyard-Display";
    font-size: 16px;
}
 .tta-header-section nav .tta-header-menu-mobile-col-item.tta-header-content-open-type-dropdown h5:after {display: none !important;}
 .tta-header-menu-mobile-col{margin-bottom: 15px;}
 .tta-header-section nav .tta-header-mobile-menu-box .drawer .menu .sub-menu li a{padding: 13px 0px !important;}
 .tta-header-megamenu-content-head{margin-top: 20px !important;}
	.tta-header-section {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

	.tta-header-section .tta-search-btn {
    margin-top: 14px;
}
	    .tta-header-section nav a.navbar-brand img {
        height: auto !important;
        width: 87px;
    }
.tta-header-section nav{column-gap: 10px;}
.header_right { display: flex;}
    .tta-header-section .tta-search-btn {
        margin-top: 7px;
   
}
.header_right {
        display: flex;
        justify-content: right;
    }
        body {
        padding-top: 0;
    }
}
@media screen and (max-width:680px){
		.account-btns .solid_link{padding: 6px 12px;}
.header_right {
        
}
	.account-btns{gap: 10px !important;}
    .account-btns .solid_link {
        padding: 6px 12px;
        font-size: 11px;
    }
    .account-btns .trans_link {
    color: rgba(62, 179, 227, 1);
    font-size: 11px;
}
}

/* case study page*/
.filter-wrapper {
    max-width: 684px;
    margin: 40px auto;
}

/* TOP FILTER BAR */
.filter-top {
    display: flex;
    gap: 8px;
    padding:14px 15px;
    border-radius: 40px;
    position: relative;
background: rgba(255, 255, 255, 1);

   border: 1px solid rgba(62, 179, 227, 1);box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1);

}

/* DROPDOWN BUTTON */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 168px;
    padding: 19px 18px;
    border-radius: 30px;
   border: 1px solid rgba(62, 179, 227, 1);
    background: #fff;
    cursor: pointer;
    font-weight: 500;font-size: 20px;color: #000;box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);

}

.dropdown .arrow {
    margin-left: 10px; font-size: 0px;
    color: #2bb3d6; background: url('../images/dropdown1.svg') center center no-repeat; width: 17px; height: 17px;
}
#topicsDropdown .arrow { background: url('../images/dropdown2.svg') center center no-repeat;}
/* SEARCH */
.search-box{width: 100%;}
.search-box input {
 border: 1px solid rgba(62, 179, 227, 1);
    border-radius: 30px;
    padding: 19px 18px;
    width: 100%;
    outline: none;font-size: 20px; color: #000; padding-right: 40px;box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);

}
.search_casestudy{position: absolute; right: 40px;     top: 34px;
    border: none;
    background: none}
/* DROPDOWN CONTENT */
.dropdown-content {
    display: none;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    border: 2px solid #2bb3d6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); position: absolute; z-index: 9; max-width: 684px;
}
.dropdown-content-inner{display: flex; flex-wrap: wrap; gap: 10px;;}
/* TAGS */
.tag {
    padding: 6px 14px;
    border-radius: 20px;
   
   background: rgba(107, 202, 247, 0.15);

    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
   
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);

 border-radius: 30px;
    border: 2px solid transparent;
    background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
display: inline-block;
    margin-bottom: 15px;
}


/* ACTIVE TAG */
.tag:hover,
.tag.active {
    background: #d1f5e9;
    border-color: #21c997;
}
.dropdown.active .arrow {
    transform: rotate(180deg);
}
.casestudy_new {margin-top: 80px;}
.casestudy_new .container{max-width: 1331px;}
.casestudy_new .section-title:after{display: none;}
.align-left{text-align: left !important;}
.casestudy_new .section-title h2{
    font-weight: 800 ;
    font-size: 80px ;  color: #2C2C2C;
    line-height: 115.99999999999999% ;}
    .casestudy_new .section-title h2 span{background: linear-gradient(92.31deg, #3EB3E3 1.69%, #3BE2A8 97.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
 
    font-weight: 800 ;
    font-size: 80px;
    line-height: 115.99999999999999%;}


    .newcasestudies{display: flex; column-gap: 22px;flex-wrap: nowrap;}
    .rightsideposts{display: flex;flex-direction: column; width: 38.4%; padding: 0px; gap: 22px;}
    .featuredbox{width: 60.4%; padding: 0px;}
    .featuredbox .mainbox{height: 100%; display: flex;}
    .featuredbox .mainbox .casestudy_highlights{width: 30%; max-width: 210px; background: linear-gradient(180deg, #3EB3E3 0%, #3BE2A8 100%);border: 2px solid transparent;  border-radius: 12px 0px 0px 12px;
         display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
    .featuredbox .mainbox .story-block {width: 80%; height: 100%; border-left-width: 0px; border-radius: 0px 12px 12px 0px;}
    .newcasestudies .story-block{padding: 28px; padding-top: 23px;    border: 2px solid transparent;
    background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box; padding-bottom: 10px;}
    .newcasestudies .story-block .s-img{justify-content: space-between;align-items: start;    margin-bottom: 30px;
}
    .newcasestudies .story-block .btn-border-blue{    background: linear-gradient(92.31deg, #3EB3E3 1.69%, #3BE2A8 97.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; border:none; margin-top: 10px; display: flex; column-gap: 10px; align-items: center;}
     .newcasestudies .story-block .btn-border-blue:focus{box-shadow: none; border: none; outline: none;}
  
.newcasestudies .story-block .story-award{padding-top: 0px;}
.newcasestudies .story-block:after{display: none;}
.newcasestudies .story-block .story-award .right{text-align: right;}
.newcasestudies .story-block .s-img{min-height: 0px;}
.newcasestudies .story-block .s-img img{max-height: 80px;}
   .titlebox h4{    font-family: "Halyard-Display";
font-weight: 600;
font-style: SemiBold;
font-size: 18px;

line-height: 115.99999999999999%;
letter-spacing: 0%;
}
.titlebox h3{font-family: "Polymath Display";
font-weight: 800;
font-style: Black;
font-size: 28px;

line-height: 115.99999999999999%;
letter-spacing: 0%;
background: linear-gradient(92.31deg, #3EB3E3 1.69%, #3BE2A8 97.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
 
}

.toptitle h3{font-family: Lato;
font-weight: 900;
font-style: Black;
font-size: 60px;
leading-trim: NONE;
line-height: 115.99999999999999%;
letter-spacing: 0%;
text-align: center; background: linear-gradient(180deg, #132136 58.17%, #3EB3E3 100%);    background-clip: text;
    color: transparent;

}
.topsubtitle h4{
font-family: Lato;
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
leading-trim: NONE;
line-height: 115.99999999999999%;
letter-spacing: -3%;
text-align: center;background: rgba(19, 33, 54, 1); border: 1px solid;

border-image-source: linear-gradient(90deg, #3EB3E3 0%, #132136 50%, #3EB3E3 100%);    background-clip: text;
    color: transparent;
}
.summery{margin-top: 80px;}
.toptext{
font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 16px;

line-height: 115.99999999999999%;
letter-spacing: 0%;
text-align: center;color: rgba(19, 33, 54, 1);

}
h4.summerytitle{font-family:'Halyard-Display';
font-weight: 500;

font-size: 20px;
line-height: 115.99999999999999%;
letter-spacing: 0%;color: rgba(19, 33, 54, 1);

}
.summerycontent ul{padding-left: 20px;}
.summerycontent , .summerycontent ul li{
font-family: Lato;
font-weight: 400;

font-size: 16px;

line-height: 200%;
letter-spacing: 0%;color: rgba(19, 33, 54, 1);

}
.featuredbox .titlebox h4{background: linear-gradient(92.31deg, #3EB3E3 1.69%, #3BE2A8 30.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.featuredbox .titlebox h3{background: none; font-family: Polymath Display;
font-weight: 800;

font-size: 26px;
font-style: black;
line-height: 115.99999999999999%;
letter-spacing: 0%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
    background-clip: unset;
    color: #000;
}
.featuredbox .match p{

font-weight: 300;
font-style: Book;
font-size: 18px;

line-height: 115.99999999999999%;
letter-spacing: 0%; color: rgba(19, 33, 54, 1);
;
}
.featuredbox .match p strong{font-weight: 700;}
.featuredbox .rowcontent{ display: flex; column-gap: 30px;}
.description p{
font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 115.99999999999999%;
letter-spacing: 0%;
}
.titlebox.assets ul{display: flex; column-gap: 7px; flex-wrap: wrap; padding: 0px;}
.titlebox.assets ul li{    padding: 2px 14px;
    border-radius: 20px;
    background: rgba(107, 202, 247, 0.15);
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    display: inline-block;
    margin-bottom: 15px;background: linear-gradient(90deg, rgba(107, 202, 247, 0.5) 0%, rgba(59, 226, 168, 0.5) 100%); color: rgba(19, 33, 54, 1);

}
.newcasestudies  .casestudy_highlights{position: relative;}
   .newcasestudies  .casestudy_highlights .btn-border-blue{ background: none; border:none;font-family: Lato;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
leading-trim: NONE;
line-height: 102%;
letter-spacing: 0%;color: rgba(19, 33, 54, 1);
display: flex; column-gap: 10px; align-items: center; position: absolute; bottom: 15px; left: 0px; right: 0px; margin: 0 auto;justify-content: center;
} 

.toppart{margin-top: -60px;}
.newcasestudies  .casestudy_highlights .btn-border-blue:focus{box-shadow: none; border: none; outline: none;}

.results_container{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;}
    .results_container .studyitem{margin-bottom: 20px;}
    .loading{display: none; width: 150px;height: 150px; position: absolute; left: 0px; right: 0px; margin: 0 auto; z-index: 8;}
    .loading img{max-width: 100%;}

/* Single blog desing */
.single-post .blog-top-banner{padding: 0px; overflow: hidden;}
.banner-inner{background:#000 ; border-radius: 0px 0px 0px 95px;;max-width: 1440px;
    margin: 0 auto; position: relative; padding: 160px 0 35px;
}
.banner-inner::before{position: absolute; height: 100%; width: 100%; right: -50%; background:#000 url('../images/bannerbg.png') center left no-repeat;content: ""; bottom: 0px; z-index: 0;}
.blog-top-banner .row{position: relative; z-index: 1;}
.blog-top-banner .container{max-width: 1084px;}

.single-post .cattag{display: flex; justify-content: start; margin-bottom: 30px;}
.single-post .cattag a{    background: linear-gradient(96.09deg, rgba(62, 179, 227, 0.85) 0%, rgba(59, 226, 168, 0.85) 100%);
    font-family: 'Halyard-Display';
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    color: rgba(0, 0, 0, 1);
    line-height: 130%;
    letter-spacing: 0%;
    padding: 3px 10px;
    border-radius: 24px;}
   .single-post .blog-top-banner .section-title{margin-bottom: 10px;}
   .single-post .blog-detail-main{margin-top: 50px;}
.single-post .section-title h1{font-family: Polymath Display;
font-weight: 900;
font-style: Black;
font-size: 96px;
leading-trim: NONE;
line-height: 111.00000000000001%;
letter-spacing: 0%; text-align: left;background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.single-post .date{font-family: Lato;
font-weight: 600;
font-style: Semibold;
font-size: 16px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;margin-bottom: 20px;
color: rgba(62, 179, 227, 1); text-align: left; display: flex; column-gap: 7px;
}
.single-post .date .metad{text-align: left;}
.single-post .date .rt-prefix img{display: none !important;}
.single-post .date svg{margin-right: 7px;}
.single-post .blog-detail-main .container {align-items: flex-start;
    max-width: 1244px; display: flex;column-gap: 60px;
}
.single-post .summery{background: linear-gradient(180deg, rgba(62, 179, 227, 0.15) 0%, rgba(59, 226, 168, 0.15) 100%);
    font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0%;
color: rgba(19, 33, 54, 1); padding: 25px 20px; border-radius: 10px; margin-top: 0px; max-width: 326px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

}
.single-post .summery h4{font-family: Halyard Display;
font-weight: 300;
font-style: Book;
font-size: 32px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
vertical-align: middle;color: rgba(62, 179, 227, 1);

}
.single-post .addthis_toolbox span{font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 220.00000000000003%;
letter-spacing: 0%;
color: rgba(62, 179, 227, 1);
}
.summery ul{list-style: none; display: flex; column-gap: 10px; padding: 0px;}
.blog-detail-main .social{border-color: rgba(62, 179, 227, 1);}

.single-post .bottomblock{max-width: 1244px; padding: 40px; background:rgba(19, 33, 54, 1) url('../images/bottomblock.png') bottom right no-repeat; display: flex; justify-content: space-between; margin: 80px auto; border-radius: 
16px;box-shadow: 0px 20px 25.7px 0px rgba(34, 99, 125, 0.3);
}
.bblockleft{ max-width: 344px;}
.bblockright{max-width: 726px;}
.bottomblock .downlink{margin-left: 0px; width: auto;}
.bottomblock .downlink a,.bottomblock .downlink a:hover{margin-left: 0px; width: fit-content;;}

.bblockleft h3{font-family: Polymath Display;
font-weight: 900;
font-style: Black;
font-size: 96px;
leading-trim: NONE;
line-height: 111.00000000000001%;
letter-spacing: 0%; text-align: left;background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;}
.bdesc, .bdesc p{font-family: Lato;
font-weight: 500;
font-style: Medium;
font-size: 30px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%; color: #fff;
}
/*Responsive */

    @media screen and (max-width:1080px){

        .results_container{display: grid;
    grid-template-columns: 1fr 1fr;
        }
        .newcasestudies{flex-direction: column;}
        .featuredbox {
    width: 100%;
        }
        .rightsideposts{display: grid;  grid-template-columns: 1fr 1fr;gap: 20px;        width: 100%; margin-top: 20px;}
    }
     @media screen and (max-width:680px){

        .results_container{display: grid;
    grid-template-columns: 1fr; gap: 0px;
        }

.featuredbox .mainbox{flex-direction: column;}
.featuredbox .mainbox .casestudy_highlights{width: 100%; max-width: 100%;border-radius: 12px 12px 0px 0px;}
.featuredbox .mainbox .story-block{width: 100%;}
.toppart{margin-top: 20px;}
.summery {
    margin-top: 30px;
    margin-bottom: 52px;
}
.featuredbox .mainbox .story-block{border-radius: 0px 0px 12px 12px;border-left-width: 2px;        border-top-width: 0px;
    }
.rightsideposts{display: grid;  grid-template-columns: 1fr;}
    }

.snapshots {
      padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px 140px 0px 140px;
}
.snapshots  .container{max-width: 1365px;}
.snapshots .section-title{text-align: left;}

.snapshots .section-title:after{display: none;}

.snapshots .section-title h2 {
    font-weight: 800;
    font-size: 80px;
    color: #2C2C2C;
    line-height: 115.99999999999999%;
}

.snaprow{display: grid; column-gap: 34px; grid-template-columns: 1fr 1fr 1fr;}
.snaprow .snamitem{box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    padding: 20px; padding-bottom: 30px; margin-bottom: 34px;}
    .snaprow .snamitem .snap_pimage img{

width: 100%;

    }

.snaprow .snamitem:nth-child(even) {
  background: rgba(19, 33, 54, 1);

}
.snaprow .snamitem:nth-child(even)  .snaptitle h3,.snaprow .snamitem:nth-child(even)   .snapdesc p{color: #fff;}
.snaprow .snamitem:nth-child(even) .readmore{color:rgba(59, 226, 168, 1);
;}
     .snaprow .snamitem .snap_pimage{margin-bottom: 20px;;min-height: 160px;
    display: flex;
    align-items: center;border-image-source:linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;padding: 5px; border-radius: 7px;}
.snapdetails .cat a,.postdetails .cat a,.postdetails .cat span{background: linear-gradient(96.09deg, rgba(62, 179, 227, 0.85) 0%, rgba(59, 226, 168, 0.85) 100%);
    font-family: 'Halyard-Display';    font-weight: 600;    font-style: SemiBold;    font-size: 20px;     color: rgba(0, 0, 0, 1);
    line-height: 130%;    letter-spacing: 0%;    padding: 3px 10px;    border-radius: 24px;}
    .snaptitle{margin-top: 10px;}
    .snaptitle h3{font-family: Polymath Display;
font-weight: 900;
font-style: Black;font-size: 30px;line-height: 115.99999999999999%;letter-spacing: 0%;color: rgba(0, 0, 0, 1);}
    .snapdesc{font-weight: 400;font-style: Regular;font-size: 18px;line-height: 150%;letter-spacing: 0%; margin-bottom: 20px;}
.snamitem .readmore {border: 1px solid rgba(59, 226, 168, 1);
font-weight: 400;
font-size: 18px;line-height: 100%;letter-spacing: 0%;
text-align: center;vertical-align: middle;text-transform: capitalize; padding: 5px 30px;
border-radius: 55px;border: 1px solid rgba(59, 226, 168, 1);color: rgba(19, 33, 54, 1);
margin-top:15px ;box-shadow: 0px 10.15px 10.15px 0px rgba(0, 0, 0, 0.15);

}
.morebtn{font-family: Lato;
font-weight: 700;font-style: Bold;font-size: 20px;
line-height: 115.99999999999999%;letter-spacing: 0%;
text-align: center;color: rgba(62, 179, 227, 1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
margin-top: 30px;
}

    /* resources page */
 .tts-testimonial-section{background: conic-gradient(from -89.45deg at 71.17% 107.75%, rgba(60, 215, 181, 0.947581) -32.94deg, #000000 30.3deg, #000000 105.58deg, rgba(62, 179, 227, 0.77) 171.6deg, rgba(51, 185, 156, 0.956422) 216deg, rgba(57, 205, 172, 0.951913) 234deg, rgba(61, 197, 204, 0.859647) 287.88deg, rgba(60, 214, 183, 0.942242) 314.04deg, rgba(60, 215, 181, 0.947581) 327.06deg, #000000 390.3deg);
padding-top: 80px;
    padding-bottom: 80px;border-radius: 0px 140px 0px 140px;}
  .tts-testimonial-section   .container{max-width: 1340px;}
.page-id-32123  .industry-banner-section .container{max-width: 1440px;}
.page-id-32123  .industry-banner-section {
    position: relative;
    padding: 145px 0 85px;
}
.page-id-32123  .industry-banner-section .main-title h1 span{
font-weight: 800;
font-size: 94px;
line-height: 115.99999999999999%;
letter-spacing: 0%;
}

.page-id-32123 .industry-banner-section .main-title h1,.page-id-32123 .industry-banner-section .main-title h1 span {
    font-weight: 900;
    font-size: 104px;text-align: center;
}
.page-id-32123 .industry-banner-section .content {
    padding-right: 0;
    text-align: center;
}

.blogbroucer{background: conic-gradient(from -89.45deg at 71.17% 107.75%, rgba(60, 215, 181, 0.947581) -32.94deg, #000000 30.3deg, #000000 105.58deg, rgba(62, 179, 227, 0.77) 171.6deg, rgba(51, 185, 156, 0.956422) 216deg, rgba(57, 205, 172, 0.951913) 234deg, rgba(61, 197, 204, 0.859647) 287.88deg, rgba(60, 214, 183, 0.942242) 314.04deg, rgba(60, 215, 181, 0.947581) 327.06deg, #000000 390.3deg);
padding-top: 80px;
    padding-bottom: 80px;border-radius: 0px 140px 0px 140px;}

.resourcesgrid{display: flex; column-gap: 20px;}
.resourceleft{width:  57.8%;padding: 0;}
.resourceright{width:  39.6%;;padding: 0;margin-top: 44px;}    
.casestudy_new .resourceright .section-title h2{font-size: 40px;}
.resourceleft .featuredbox{width: 100%;box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;

padding: 30px;


}

.resourcesgrid .section-title{margin-bottom: 0px;}

.resourcesgrid .featuredbox  .mainbox{flex-direction: column;}

.resourcesgrid .s-img{width: 100%;}
.resourcesgrid .s-img img{width: 100%;border-radius: 34px;max-height: 241px;
    object-fit: cover;box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1);
border: 2px solid rgba(19, 33, 54, 0.5);border-radius: 34px;}

.resourcesgrid .cattag{display: flex; column-gap: 5px; margin-top: 30px;}
.resourcesgrid .cattag span{background: linear-gradient(96.09deg, rgba(62, 179, 227, 0.85) 0%, rgba(59, 226, 168, 0.85) 100%);
font-family:'Halyard-Display';
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
leading-trim: NONE;color: rgba(0, 0, 0, 1);

line-height: 130%;
letter-spacing: 0%;
 padding: 3px 10px;border-radius: 24px;}
.resourcesgrid .pdetails{display: flex; margin-top: 20px;}
.resourcesgrid .rtitle{width: 50%;}
.resourcesgrid .rtitle h3, .resourcesgrid .rtitle h3 a{
font-family:'Halyard-Display';
font-weight: 600;
font-style: SemiBold;
font-size: 22px;
line-height: 130%;
letter-spacing: 0%;color: rgba(0, 0, 0, 1);
}
.resourcesgrid .rdesc{font-family: Lato; width: 45%;
font-weight: 400;
font-style: Regular;
font-size: 16px;

line-height: 130%;
letter-spacing: 0%;
vertical-align: middle;color: rgba(0, 0, 0, 1);
}
.resourceitem{width: 100%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    padding: 15px; display: flex; column-gap: 20px;align-items: flex-start;box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1);
 margin-bottom: 15px;}

    .resourcesgrid .resourceitem .cattag{margin-top: 0px; margin-bottom: 20px;}
    .resourcesgrid .resourceitem .rtitle {    width: 100%;}
      .resourcesgrid .resourceitem .s-img{max-width:233px;}
      .resourcesgrid .resourceitem .s-img img{    width: 230px;
    height: 133px;
    object-fit: cover;
    max-width: 233px;}

/* blog and broucer section*/

.blogandbrochure{background: conic-gradient(from -89.45deg at 71.17% 107.75%, rgba(60, 215, 181, 0.947581) -32.94deg, #000000 30.3deg, #000000 105.58deg, rgba(62, 179, 227, 0.77) 171.6deg, rgba(51, 185, 156, 0.956422) 216deg, rgba(57, 205, 172, 0.951913) 234deg, rgba(61, 197, 204, 0.859647) 287.88deg, rgba(60, 214, 183, 0.942242) 314.04deg, rgba(60, 215, 181, 0.947581) 327.06deg, #000000 390.3deg);
padding: 120px 0px; padding-bottom: 80px; border-radius: 0px 140px 0px 140px;}

.blogandbrochure .container{max-width: 1365px;}
.blogandbrochure .section-title {text-align: left;}
.blogandbrochure .section-title h2{background: linear-gradient(89.58deg, #3EB3E3 -3.56%, #3BE2A8 104.53%); font-size: 80px;    background: linear-gradient(89.58deg, #3EB3E3 -3.56%, #3BE2A8 60.53%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    line-height: 94px;
}
.blogandbrochure .section-title:after{display: none;}
.blogpostsnew{display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 16px;}
.blogpostsnew.broucher{ grid-template-columns: 1fr 1fr 1fr 1fr;}
.blogpostsnew .postitem {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    padding: 16px 16px;
    padding-bottom: 16px;
    margin-bottom: 34px;
}
.postimage{
    margin-bottom: 20px;
    min-height: 275px; height: 275px; max-height: 275px;
    display: flex;
    align-items: center;
    border-image-source: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #3EB3E3, #3BE2A8) border-box;
    padding: 0px;
    border-radius: 34px;overflow: hidden;box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1);

}
.blogpostsnew.broucher .postimage{ min-height: 228px; height: 228px; max-height: 228px;}
.postimage img {
    width: 100%;border-radius: 12px;height: auto; min-height: 100%;
    object-fit: cover;
}
.postimage a{height: 100%;}
    .postdetails h3{font-family: Polymath Display;
    font-weight: 600;
    font-style: Black;
    font-size: 22px;
    line-height: 115.99999999999999%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1); margin-top: 20px;}
     .postdetails h3 a{ color: rgba(0, 0, 0, 1); display: -webkit-box;
  -webkit-line-clamp: 2;   /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;}
  .boroucercontainer{margin-top: 60px;}

  .resourcesresults{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr; gap: 16px;}
  .resourcesresults .resourceitem{flex-direction: column; margin-bottom: 16px;}
  .resourcesgrid  .resourcesresults  .resourceitem .s-img{width: 100%; max-width: 100%; margin-bottom: 20px;}
  .resourcesgrid .resourcesresults  .resourceitem .s-img img {
    width: 100%;
    height: 228px;
    object-fit: cover;
    max-width: 100%;
}


/* Webinar and event*/

.eventwebinar{border:none; box-shadow: none; margin: 80px 0px;}
.eventwebinar .container{max-width: 1365px;}
.eventwebinar .webinar-card{border:none; box-shadow: none;}

.webevnrow{display: flex; justify-content: space-between;}
.leftweb{width: 34%;}
.rightweb{width: 64.5%; position: relative;}
.section-title.align-right{text-align: right !important;}
.eventwebinar .section-title:after{ display: none;}
.webicontent{position:absolute; width: 100%; max-width: 480px; text-align: center; top: 40px; left: 40px;}
.webicontent h3{font-family:'Halyard-Display';
font-weight: 600;
font-style: SemiBold;
font-size: 48px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
text-align: center;color: rgba(19, 33, 54, 1);

}
.webicontent .subtitle{margin-top: 20px;}
.rightweb .webinar-img{border: Mixed solid rgba(19, 33, 54, 1);box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1);border-radius: 34px; overflow: hidden;height: 100%;}
.rightweb .webinar-img img{object-fit: cover; height: 100%;}
.rightweb .webinar-img::before{position: absolute; width: 100%; height: 100%; content: "";background: linear-gradient(180deg, #3EB3E3 0%, #3BE2A8 100%); left: 0px; top: 0px;opacity: 0.6;border-radius: 34px; }
.webicontent .webbtn{ font-family:'Halyard-Display';
font-size:20px;
line-height:130%;
letter-spacing: 0%;border: 1.5px solid rgba(19, 33, 54, 1);color: rgba(19, 33, 54, 1);
padding: 2px 43px; border-radius:26px;
}
.stag{background: linear-gradient(96.09deg, rgba(62, 179, 227, 0.85) 0%, rgba(59, 226, 168, 0.85) 100%);
border: 1px solid rgba(62, 179, 227, 1);font-family:'Halyard-Display';
font-weight: 600;
font-style: SemiBold;
font-size: 20px;
padding: 1px 28px;
line-height: 30px;
letter-spacing: 0%; border-radius: 26px;
}
.leftweb .webinar-detail ul{margin-top: 15px;}
.webinar_short_text, .webinar_short_text p,.leftweb .webinar-detail ul li{
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;color: rgba(0, 0, 0, 1);

}
.webinarfoot{display: flex; justify-content: space-between; margin-top: 30px;}
.downlink{width: 34%;    text-align: center;}
.downlink a,.downlink a:hover{font-family: Lato;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 4%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;color: rgba(19, 33, 54, 1); border-radius: 55.41px; display: flex; align-items: center; column-gap: 10px;
background: linear-gradient(90deg, #3EB3E3 0%, #3BE2A8 100%);
border: 0px solid transparent;

justify-content: center;
    width: fit-content;
    padding: 5px 47px; margin: 0 auto;
}
.downlink a:hover{color: #fff;}
.downlink a svg{margin-right: -15px;}
.morelink{width: 64.5%; }
.morelink .morebtn{margin-top: 0px;}

.paginaton a,.paginaton span{font-family: Lato;
font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 115.99999999999999%;
letter-spacing: 0%;
text-align: center;
color: rgba(62, 179, 227, 1);

}
.paginaton span.current{text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;}
.paginaton{
display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 6px;
}

/* Stay connected section*/
.stayfomrrow{background: url('../images/NewsletterBar.png') center center no-repeat; background-size: 100% 100%;
 padding: 40px;    border-radius: 10px;padding-top: 60px;}
.stayfomrrow{display: flex; justify-content: space-between;}
.stayformleft{width: 48%; display: flex; column-gap: 30px; max-width: 560px;}
.staylformright{width: 48%; max-width: 515px;}
.stayformleft .ftitle h3{font-family: Polymath Display;
font-weight: 900;
font-style: Black;
font-size: 56px;
color: rgba(255, 255, 255, 1);

line-height: 115.99999999999999%;
letter-spacing: -3%;
}
.stayformleft .ftitle h3 span{background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;}
.fdesc{
font-family: 'Halyard-Display';
font-weight: 600;
font-style: SemiBold;
font-size: 24px;

line-height: 130%;
letter-spacing: 0%;
}
.newsform p{font-family: Lato;
font-weight: 400;
font-style: Regular;
font-size: 16px;

line-height: 130%;
letter-spacing: 0%; color: #fff;
}
.newsform .wpcf7-form-control-wrap::before{display: none;}
.newsform input[type="email"] {border-radius: 26px;width: 100%;border: none;
    background: none; height: 60px;
}
.formrow p{position: relative;}
.formrow p label{ box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    border: 2px solid transparent;
    width: 100%; margin-bottom: 15px;

    background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(180deg, #3EB3E3 40%, #3BE2A8 100%) border-box;}
.formrow .wpcf7-submit{position: absolute;    right: 0; width: 75px; height: 64px; background: url('../images/submitbtn.png') center center no-repeat; background-size: cover; font-size: 0px;border: none;}
.formrow .wpcf7-spinner{position: absolute;}
.newsform .wpcf7-not-valid-tip{position: absolute;}
    /* reponsive*/
        @media screen and (max-width:1024px){
 .resourcesresults{display: grid;grid-template-columns: 1fr 1fr 1fr; gap: 16px;}
        }
    
          @media screen and (max-width:810px){
.stayfomrrow{flex-direction: column;gap: 15px;}
.stayformleft,.staylformright {
    width: 100%;
          }
          .staylformright{margin-top: 15px;}
        }
    @media screen and (max-width:768px){
        .casestudy_new .section-title h2,
        .snapshots .section-title h2,.casestudy_new .section-title h2 span,.page-id-32099 .industry-banner-section .main-title h1 span,.blogandbrochure .section-title h2{font-size: 40px;line-height: 50px;}
        .snaprow{grid-template-columns:1fr 1fr}
.blogandbrochure .section-title, .snapshots .section-title,.casestudy_new .section-title{margin-bottom: 20px;}
.featuredbox .mainbox .casestudy_highlights{background:linear-gradient(10deg, #3EB3E3 0%, #3BE2A8 100%);border-bottom:none;}
        .industry-banner-section .sub-title h2 {
   font-size: 35px;
}
    .industry-banner-section .main-title h1,.industry-banner-section .main-title h1 span {
        font-size: 40px !important; line-height: 50px;
    }
    .resourceleft {
    width: 100%;
    padding: 0;
}
.resourceright {
    width: 100%;
}
  .leftweb  .webinar_short_text {
        display: block;
    }
    .blogandbrochure{padding: 60px 0px;}
    .postimage {
    margin-bottom: 20px;
    min-height: 155px;
    height: 155px;
    }
    .blogpostsnew.broucher {
    grid-template-columns: 1fr 1fr;
}
.webevnrow {  flex-direction: column-reverse;}
.leftweb {    width: 100%;margin-top: 30px;}
.rightweb {    width: 100%;overflow: hidden;}
.webicontent h3{font-size: 30px;}
.webicontent .webbtn { font-size: 15px;}
.webinarfoot{flex-direction: column; gap: 30px;}
.downlink,.morelink {    width: 100%;}
.downlink a, .downlink a:hover{font-size: 17px;}
.webicontent {
    position: absolute;
           width: 50%;
        top: 63px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
  .resourcesresults{display: grid;grid-template-columns: 1fr 1fr; gap: 16px;}
    }

        @media screen and (max-width:680px){
.snaprow{grid-template-columns:1fr}
.featuredbox .rowcontent{flex-direction: column;}
.filter-top{flex-wrap: wrap;}

   .casestudy_new .section-title h2,
        .snapshots .section-title h2,.casestudy_new .section-title h2 span{font-size: 50px;}
          .search_casestudy{  top: 109px;}
          .dropdown{min-width: 49%;}
.newcasestudies .story-block {
    padding: 15px;
}

.resourceitem{flex-direction: column;gap: 20px;}

.rightsideposts  .story-block img {
    max-width: 181px;
}
.titlebox.assets ul li{font-size: 14px;}
.blogpostsnew {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}
.blogpostsnew.broucher {    grid-template-columns: 1fr;}

.resourcesgrid .resourceitem .s-img{max-width: 100%;}
.resourcesgrid .resourceitem .s-img img{max-width: 100%; width: 100%; height: auto;}
.resourcesgrid .pdetails{flex-direction: column;}
.resourcesgrid .rtitle,.resourcesgrid .rdesc{
    width: 100%;
}

.webicontent h3{font-size: 22px;}


.postimage {
    margin-bottom: 20px;
    min-height: 210px;
    height: 210px;
    max-height: 210px;
}
.blogandbrochure{padding: 40px 0px; border-radius: 0px 80px 0px 80px;}
  .resourcesresults{display: grid;grid-template-columns: 1fr; gap: 16px;}
  .stayformleft .ftitle h3{font-size: 40px;}
  .fdesc{font-size: 18px;}
  .stayfomrrow{padding-top: 50px;}
        }

        @media screen and (max-width: 480px) {
    .dropdown {
        min-width: 48%;
    }
      .stayformleft { flex-direction: column;
    justify-content: center;
    align-items: center;        gap: 15px;

}

}
      @media screen and (max-width: 370px) {
    .dropdown {
        min-width:100%;
    }
        .search_casestudy {
        top: 178px;right: 25px;
    }
    
}