/* .................................................... */
/* Talent Banner Detail */
/* .................................................... */

@font-face {
  font-family: "halyard-display";
  src: url(../fonts/halyard-display/halyard-display.woff2) format("woff2");
}

@font-face {
  font-family: "halyard-display";
  src: url(../fonts/halyard-display/Halyard-Display_Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "halyard-display";
  src: url(../fonts/halyard-display/Halyard_Display_SemiBold.woff2)
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "lato";
  src: url(../fonts/lato/Lato-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Polymath Display";
  src: url(../fonts/Polymatch/Polymath-Bold.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Polymath Display";
  src: url("../fonts/Polymatch/PolymathDisp-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.ctn-800 {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.talent-banner-section .container {
  max-width: 1337px;
  width: 97%;
  margin: 0 auto;
  padding: 0;
}
.banner-wrapper {
  display: flex;
  justify-content: space-between;
}
.talent-banner-section .banner-detail-content {
  width: 62.5%;
}
.talent-banner-section {
  position: relative;
  padding: 140px 0 29px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.talent-banner-section h1 {
  font-weight: 900;
  font-size: 90px;
  line-height: 1.15;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0 0 14px 0;
  font-family: "Polymath Display";
}
.talent-banner-section::after {
  display: none;
}

.talent-banner-section p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 177%;
  margin-bottom: 0;
  max-width: 785px;
  color: #ffffff;
}
.talent-banner-section h1 span {
  background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-detail-content .view-btn-bottom {
  font-size: 22px;
  letter-spacing: 0.8px;
  gap: 19px;
  margin-top: 62px;
}

.trusted-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 94px;
}
.trusted-logos span {
  width: 13.8%;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  color: #ffffff;
}
.logos-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 82.8%;
}
.s-64 {
  height: 64px;
}

/* //strategists */

.strategists-section .wrapper {
  max-width: 1389px;
  width: 97%;
  margin: 0 auto;
}
.strategists-section .strategists-section-title h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: -0px;
  color: #000000;
  margin: 0;
  font-family: "Polymath Display";
  margin-bottom: 34px;
}
.strategists-section .strategists-section-title span {
  background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.strategists-single-card {
  box-sizing: border-box;

  width: 881px;
  height: 363px;

  background: rgba(62, 179, 227, 0.08);
  border: 1px solid #3eb3e3;
  border-radius: 34px;
}

.strategists-cards-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.strategists-cards {
  width: 63.4%;
}

.strategists-right {
  width: 31.7%;
  margin-top: -22px;
}

.content-main h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: -0.1px;

  color: #132136;
  margin: 0;
  font-family: "Polymath Display";
  margin-bottom: 30px;
}

.content-box {
  padding: 24px 29px 21px;
  box-sizing: border-box;
  background: #ffffff;

  border: 2px solid #3eb3e3;
  box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 2px 6px 6px rgba(255, 255, 255, 0.75);
  border-radius: 34px;
}

.content-box h4 {
  font-family: "halyard-display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.2px;
  color: #132136;
  margin-bottom: 20px;
}

.content-box p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  color: #000000;
}

.content-box-button {
  text-align: center;
  margin-top: 39px;
}
.content-box-button p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;

  color: #132136;
  margin-bottom: 20px;
}
.content-box-button .view-btn-bottom {
  font-size: 24px;
  letter-spacing: 0;
  word-spacing: 4px;
  gap: 20px;
  padding: 8px 20px 8px 43px;
}

.widget-card.blue-box .content-box {
  background-color: #132136;
}
.tta-podcast-card .content-box {
  padding: 24px 15px 21px 18px;
}

/* ===== Podcast Card Inner Styling Only ===== */

.tta-podcast-card .podcast-box {
  color: #fff;
}

/* Top Section */
.tta-podcast-card .podcast-top {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  margin-bottom: 13px;
}

/* Logo */
.tta-podcast-card .podcast-logo {
  width: 47.2%;
  min-width: max-content;
  height: 193px;
  background: #1b1b1b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tta-podcast-card .logo-inner {
  text-align: center;
}

.tta-podcast-card .mic-icon {
  font-size: 26px;
  display: block;
  margin-bottom: 8px;
  color: #2bd4b3;
}

.tta-podcast-card .logo-inner h4 {
  font-size: 15px;
  margin: 0;
  line-height: 1.2;
  color: #fff;
}

.tta-podcast-card .logo-inner strong {
  font-size: 17px;
}

.tta-podcast-card .logo-inner .tta {
  display: block;
  margin-top: 4px;
  font-size: 13px;
  color: #2bd4b3;
}

/* Content */
.tta-podcast-card .podcast-content h3 {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;

  color: #ffffff;
}
.podcast-content {
  width: 47%;
  padding-top: 4px;
}
.podcast-box p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  color: #ffffff;
}

.tta-podcast-card .podcast-content p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfd8e3;
  margin: 0;
}

/* Episode Card */
.tta-podcast-card .episode-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 34px;
  padding: 10px 17px;
  margin-top: 36px;
}

/* Left */
.tta-podcast-card .episode-left {
  max-width: 65%;
  position: relative;
  z-index: 1;
}

.tta-podcast-card .episode-number {
  margin-left: 6px;
  margin-bottom: 14px;
  display: block;
  font-family: "Polymath Display";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;

  background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.tta-podcast-card .episode-left h4 {
  max-width: 178px;
  font-family: "halyard-display";
  letter-spacing: -0.2px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  margin: 0;

  color: #000000;
}

/* Right */
.tta-podcast-card .episode-right {
  text-align: center;
  position: relative;
  z-index: 1;
}

.tta-podcast-card .episode-right img {
  width: 118px;
  height: 118px;
  border-radius: 0%;
  object-fit: cover;
  display: block;
  margin: 0 0 0 auto;
  position: relative;
  right: 14px;
}

.tta-podcast-card .guest-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;

  color: #000000;
}

/* CTA */
.tta-podcast-card .podcast-link {
  display: inline-block;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #2bd4b3;
  text-decoration: none;
}

.tta-podcast-card .podcast-link:hover {
  text-decoration: underline;
}

/* hero section */

.banner-cards {
  position: relative;
  width: 40%;
  height: 300px;
  margin: auto;
  perspective: 1200px;
  top: 32px;
  left: 8px;
}

/* CARD CONTAINER */
.banner-cards .card {
  position: absolute;
  width: 248px;
  min-height: 401px;
  border-radius: 20px;
  transition: all 0.6s ease;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

/* INNER DESIGN */
.card-inner {
  padding: 15px 19px 21px;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);

  background: #ffffff;
  border: 1px solid #3eb3e3;
  border-radius: 34px;
}

/* IMAGE */
.card-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 6px;

  aspect-ratio: 210/200;
  border-radius: 32px;
}

/* TEXT */
.card-inner h4 {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115.87%;

  color: #132136;
  margin-bottom: 0px;
}
.card-inner-image {
  position: relative;
}
.card-inner-logo {
  width: 50px;
  height: 52px;
  position: absolute;
  bottom: -10px;
  right: -16px;
}
.card-inner-logo img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
}
.card-inner span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 115.87%;
  letter-spacing: -0.1px;

  color: #000000;
}

.card-inner p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 115.87%;

  text-align: center;

  color: #132136;
  margin-top: 36px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logos img {
  max-width: 70px;
  max-height: 37px;
  width: max-content;
  height: max-content;
  border-radius: 0;
  aspect-ratio: initial;
  margin: 0;
  object-fit: initial;
}
/* ===== STATES ===== */

/* CENTER */
.card.center {
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}

.card.center .card-inner {
  filter: blur(0);
  opacity: 1;
}

/* LEFT */
.card.left {
  transform: translate(-102%, -68%) scale(0.844) rotate(0deg);
  z-index: 2;
}

.card.left .card-inner {
  filter: blur(3px);
  opacity: 0.7;
}

/* RIGHT */
.card.right {
  transform: translate(11%, -68%) scale(0.844) rotate(0deg);
  z-index: 2;
}

.card.right .card-inner {
  filter: blur(3px);
  opacity: 0.7;
}

/* HIDDEN */
.card.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.6);
}

.vetted-section {
  position: relative;
  padding: 70px 0 51px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.vetted-content {
  width: 46.5%;
  float: left;
  padding-right: 33px;
}
.vetted-content-inner {
  max-width: 588px;
  margin-left: auto;
}

.vetted-content h2 {
  font-family: "Polymath Display";

  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 115.87%;
  letter-spacing: 0;

  color: #ffffff;
  margin-bottom: 12px;
}

.vetted-content h2 span {
  background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vetted-content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 172%;
  color: #ffffff;
  max-width: 580px;
  margin: 0;
}
.vetted-section-main {
  display: flow-root;
  clear: both;
}

.vetted-item {
  max-width: 273px;
  min-width: 273px;
  width: 273px;

  background: linear-gradient(180deg, #3eb3e3 26.65%, #3be2a8 111.63%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4.7464px;
}

.vetted-item-head {
  padding: 19px 25px 19px;
  background: #132136;
  border: 1px solid #3eb3e3;
}

.vetted-item-head h3 {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115.87%;

  color: #ffffff;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

.vetted-item-head h4 {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 115.87%;

  background: linear-gradient(90.62deg, #3eb3e3 23.19%, #3be2a8 78.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 6px;
  letter-spacing: -0.1px;
}

.vetted-item-content {
  padding: 16px 25px 57px;
  box-sizing: border-box;
}

.vetted-item-content h5 {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 115.87%;

  color: #132136;
  letter-spacing: -0.1px;
  position: relative;
  padding-bottom: 17px;
}

.vetted-item-content h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101px;
  height: 1px;
  background-color: #132136;
}

.vetted-slider {
  margin-top: 28px;
}

.vetted-item-content ul {
  margin: 0;
  padding-left: 1.5rem;
  margin-top: 15px;
}
.vetted-item-content ul li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  color: #132136;
}
.vetted-slider {
  width: 53.5%;
  float: right;
}
/* /// sdf */
:root {
  --card-width-mobile: 85vw;
  --card-width-desktop: 26rem;
  --card-gap: 1.25rem;
  --transition-speed: 0.4s;
}

/* OUTER SHELL (right aligned) */

/* HEADER: title + arrows on one row */
.slider-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.slider-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.slider-header-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 32px;
}

.arrow-btn {
  border: none;
  width: 50px;
  height: 57px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
}
.arrow-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* SLIDER */
.slider {
  position: relative;
}

.slider-inner {
  overflow: hidden; /* creates the off-canvas effect */
}

.slider-track {
  display: flex;
  align-items: stretch;
  transition: transform var(--transition-speed) ease;
  will-change: transform;
  gap: 17px;
}

.slide {
  flex: 0 0 var(--card-width-mobile); /* mobile basis */
  max-width: var(--card-width-desktop);
  margin-right: var(--card-gap);
  border-radius: 1.5rem;
  background: #e5e7eb;
  padding: 1.1rem 1.1rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* CLICKABLE ROW: title + arrow (ONLY this is a link) */
.slide-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.slide-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  width: 100%;
  text-decoration: none; /* remove blue underline */
  color: inherit; /* inherit text colour */
}

/* SMALL CIRCLE ARROW – centered */
.slide-arrow {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(15, 23, 42, 0.08);
  font-size: 1.1rem;
  line-height: 1;
  position: relative;
  top: -0.5px; /* tiny nudge up for visual centering */
}

/* Optional hover effect only on link area */
.slide-link:hover .slide-arrow {
  background: rgba(15, 23, 42, 0.16);
}

@media (min-width: 768px) {
  .slide {
    flex-basis: var(--card-width-desktop);
  }
}

.vetted-bottom-text {
  max-width: 1121px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;
}
.vetted-bottom-text p {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 102%;
  text-align: center;

  color: white;
  letter-spacing: -0.24px;
}

.vetted-bottom-text p span {
  background: linear-gradient(90deg, #3eb3e3 0%, #3be2a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.tta-talent-capabilities-card {
  margin-top: 77px;
}
.tta-talent-capabilities-card .content-box {
  box-shadow: none;
  padding-bottom: 31px;
}

.tta-talent-capabilities-card .content-box h4 {
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 14px;
}
.tta-talent-capabilities-card .content-box ul {
  margin: 0;
  padding-left: 25px;
}
.tta-talent-capabilities-card .content-box ul li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  color: #ffffff;
}
.tta-talent-capabilities-card .content-box-button .download-brochure {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1px;
  color: #3eb3e3;
}
.tta-talent-capabilities-card .content-box-button {
  text-align: left;
  margin-top: 38px;
}

.tta-testimonials-card {
  margin-top: 61px;
}
.tst-content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0;
  color: #132136;
  margin-bottom: 22px;
}

.tta-testimonials-card .content-box {
  padding-top: 53px;
  padding-bottom: 41px;
}
.tta-testimonials-card .main-title {
  margin: 0 0 35px;
}
.tta-testimonials-card .main-title::after {
  width: 121px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  border-radius: 0;
}
.tst-bottom-cotnent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  text-align: center;

  color: #132136;
}

.tta-podcast-card {
  margin-top: 75px;
}

.tta-podcast-card .content-box {
  box-shadow: none;
}
.tta-podcast-card .content-box-button {
  text-align: left;
  margin-top: 21px;
}

.tta-podcast-card .content-box-button a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;

  color: #3eb3e3;
}
.episode-card {
  position: relative;
}
.episode-card::before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  background-image: url(../images/Polygon-card.png);
  background-repeat: no-repeat;
  width: 260px;
  height: 164px;
}

.tst-content::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -18px;
  background-image: url(../images/quote-icon.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 52px;
}
.strategists-cards .main-profile-card {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  align-items: flex-start;
}

.strategists-cards .profile-card {
  width: 100%;
  padding: 14px 11px 24px;
}

.strategists-cards .profile-img {
  max-width: 250px;
  margin: 0;
}
.main-profile-card-content {
  width: 66%;
}
.profile-img-left .profile-logo span {
  font-size: 12px;
  right: -14px;
  letter-spacing: -0.3px;
}
.profile-img-left .profile-logo img {
  bottom: -7px;
  right: -9px;
  width: 56px !important;
  height: 67px;
  border-radius: 0;
  object-fit: contain;
}

.profile-img-left .card-button a {
  letter-spacing: 0.8px;
  font-size: 24px;
  padding: 7px 13px 5px 49px;
  gap: 19px;
  width: 100%;
}
.profile-img-left .card-button {
  margin: 0 auto;
  width: max-content !important;
  padding-top: 27px;
}

.main-profile-card-content h3 {
  font-family: "halyard-display";

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115.87%;

  color: #132136;
  margin-top: -1px;
}
.main-profile-card-content h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 115.87%;

  color: #000000;
  margin-top: -3px;
  letter-spacing: -0.1px;
  margin-bottom: 7px;
}
.main-profile-card-content h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 115.87%;

  color: #000000;
}

.main-profile-card-content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  color: #132136;
}
.main-profile-card-content .logo-track {
  animation: none;
  align-items: center;
  justify-content: space-between;
}

.main-profile-card-content .logo-item img {
  width: max-content;
  height: max-content;
  max-width: max-content;
  min-width: max-content;
}

.main-profile-card-content .worked-with {
  gap: 28px;
}

.main-profile-card-content .logos-sliders {
  width: 61%;
}

.main-profile-card-content .tags {
  margin-top: 23px;
}
.strategists-cards .profile-card-wrapper-inner {
  gap: 24px;
}

/* /Resonsive */

@media only screen and (max-width: 747px) {
  .talent-banner-section h1 {
    font-weight: 900;
    font-size: 61px;
  }
  .talent-banner-section .banner-detail-content {
    width: 100%;
  }
  .banner-wrapper {
    flex-wrap: wrap;
  }
  .banner-cards {
    width: 100%;
    top: 0;
    margin-top: 140px;
  }
  .banner-detail-content .view-btn-bottom {
    font-size: 18px;
    margin-top: 32px;
  }
  .card-inner p {
    margin-top: 24px;
  }
  .card-inner {
    padding: 10px 16px 17px;
  }
  .talent-banner-section {
    overflow: hidden;
    padding: 100px 0 29px;
  }
  .trusted-logos span {
    width: 100%;
  }

  .trusted-logos {
    gap: 35px;
    margin-top: 80px;
  }
  .strategists-section .wrapper {
    width: 90%;
  }
  .strategists-section .strategists-section-title h2 {
    font-size: 36px;
  }
  .strategists-cards {
    width: 100%;
  }

  .profile-img-left {
    width: 100%;
  }

  .strategists-cards .profile-card {
    flex: inherit;
  }
  .strategists-cards .profile-img {
    max-width: 100%;
    margin: 0;
  }
  .main-profile-card-content {
    width: 100%;
  }

  .profile-img-left .card-button a {
    font-size: 20px;
    padding: 7px 13px 6px 49px;
    gap: 16px;
  }
  .profile-img-left .card-button {
    margin: 0 auto;
    width: max-content !important;
    padding-top: 18px;
  }
  .main-profile-card-content .worked-with {
    flex-wrap: wrap;
    gap: 0;
  }
  .profile-img-left .profile-logo img {
    bottom: -7px;
    right: 0;
  }
  .profile-img-left .profile-logo span {
    right: -4px;
  }
  .strategists-right{
    width: 100%;
    margin-top: 30px;
  }
  .bottom-link-text {
    text-align: left;
    margin-top: 30px;
}
.content-main h3 {
    font-size: 28px;

    margin-bottom: 25px;
}
.content-box h4 {

    margin-bottom: 15px;
}
.content-box-button {
    margin-top: 18px;
}
.content-box {
    padding: 16px 20px 18px;}

    .tta-talent-capabilities-card {
    margin-top: 45px;
}
.tta-talent-capabilities-card .content-box-button {
    margin-top: 28px;
}
.tta-testimonials-card {
    margin-top: 38px;
}
.tta-testimonials-card .content-box {
    padding-top: 40px;
    padding-bottom: 32px;
}
.tta-testimonials-card .main-title {
    margin: 0 0 25px;
}

.tta-podcast-card {
    margin-top: 45px;
}
.tst-content p {

    margin-bottom: 18px;
}
.tta-podcast-card .podcast-top{
  flex-wrap: wrap;
}
.tta-podcast-card .podcast-logo {
    width: 100%;}
    .podcast-content {
    width: 100%;
    padding-top: 0px;
}
.tta-podcast-card .podcast-content h3{
  margin-bottom: 15px;
}
.tta-podcast-card .episode-card{
  flex-wrap: wrap;
  overflow: hidden;
}
.tta-podcast-card .episode-left{
  max-width: 100%;
}
.tta-podcast-card .episode-left h4{
  max-width: 100%;
}
.tta-podcast-card .episode-right{
  width: 100%;
}
.episode-card::before{
        top: auto;
        bottom: -4px;
        height: 104%;
        background-size: cover;
        right: 0;

}
.spacer-200{
  height: 80px;
}
.learning-strategy-section .content {
    padding: 0;
}
.learning-strategy-section.section-wrapper__card-grid .card-grid{
  display: block;
}
}
